<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url('index') }}">
        Home
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="{{ url('admin') }}">
              <span class="icon">
                <i class="fa fa-cog"></i>
              </span>
              <span>Admin</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
